$background-color: #240046;
$primary-color: #F5F5F5;
$accent-color: #C0E1DE;
$color-support: #ffc9da42;


body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.header{
    background-color: #A8E2C5;
    height: 30em;

   img{
    height: 30em;
    object-fit: cover;
    width: 100%;
   }
}

.problems{
    background-color: #d6f1e3; 
    width: 100%; 
    padding: 3em 7em;
}

#title{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 1em 0 2em;
}

.container {
    margin: 0 7em 5em;
    line-height: 1.6em;

    .desc{
        display: flex;
        justify-content: space-between;
    }

    #sub-title{
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 1em;
    }

    #subs {
        font-weight: 600;
        margin-bottom: 1em;
    }

    #desc {
        letter-spacing: 1px;
        text-align: justify;
        font-size: 16px;
    }

    
    #list{
        padding-bottom: 1em;
        font-size: 17px;
        

        #bold{
            font-weight: 600;
           margin: 1em 0 0 0em;
        }
    }
    
    .wireframes{
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        img{
            width: 35em;
            height: 25em;
            margin-bottom: 2em;
        }

        #login{
            width: 30em;
            height: 20em;
        }

    }

    .mobile{
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;

        img{
        width: 17em;
        height: 35em;
        margin: 0 0.6em 2em 0;
        border: 1px solid #efefef;
    }}

    #color {
        height: 35em;
        width: 60em;
        margin-bottom: 3em;
    }
}

.siklistowf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ui{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
    align-items: center;
    width: 100%;

    #login{
        width: 35em;
        height: 25em;
    }

        img{
            width: 40em;
            height: 35em;
        }

        #popup{
            height: 25em;
        }

    .desc{
        width: 40%;
        text-align: justify;
    }
}

.visuals {
    background-color: #FAF6F6;
    width: 100%;
    padding: 2em 7em;
    margin: 2em 0;
    text-align: justify;

    #sub-title{
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 1em;
    }

    p{
        line-height: 1.8em;
    }
}


.words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#words {
    width: 40em;
    height: 60em;
}

#words2 {
    width: 40em;
    height: 40em;
}

#words3 {
    width: 40em;
    height: 30em;
}