$background-color: #240046;
$primary-color: #F5F5F5;
$accent-color: #C0E1DE;
$color-support: #ffc9da42;

* {
    font-size: 18px;
  }

body{
    background-color: $background-color;
    color: $primary-color;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
#title{
    font-size: 50px;
    text-align: center;
    margin: 1.5em 3em 1em;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
}

.card-container{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin-bottom: 3em;
    border-radius: 10px;
    height: 20em;
    display: flex;
    border: 2px solid $accent-color;
    align-items: center;


    img{
        height: 100%;
        border-radius: 10px 0 0 10px;
        width: 8em;
    }
  }

  .two {
    height: 30em;
  }


  .container {
    padding: 1.5em 2em 1em;

    h4{
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 18px;
    }

    #descripion{
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 1.6em;
        text-align: justify;
        line-height: 1.6em;
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 3em;
        width: 100%;

        a{
            background-color: $accent-color;
            color: $background-color;
            padding: 0.6em 3.5em;
            border-radius: 10px;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
  }